.comments-container {
  width: 100vw;
  height: 100vh;;
  display: flex;
  overflow: auto;
  position: fixed;
  top:0;
  left: 0;;
  background-color:rgba(0, 0, 0, 0.5);
  align-items: center;
  flex-direction: column;
  z-index: 1;  
  animation-duration: 0.2s;
  display: none;
}
.comments-tray {
  z-index: 3;
  width: 100%;
  height: 49%;;
  display: flex;
  overflow: hidden;
  position: absolute;
  bottom: 10.2%;
  left:0;
  animation-duration: 0.2s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px 20px 0 0;

  background-color: var(--grey);
}

.add-new-comment{
  position: absolute;
  bottom: 0;
  height: 10%;;
  display: flex;
  background-color: rgba(236, 236, 236, 1);
  width:100%;
  justify-content: space-around;
  align-items: center;
}

.add-new-comment .input-field{
  width:70%;

  display: flex;
  justify-content: center;
  
}
.add-new-comment .input-field form{
  width:100%;


}
.add-new-comment .input-field form textarea{
  width: 95%;;
  font-size: 15px;
  border: none;
  border-radius: 20px;;
  padding:10px;
}
.add-new-comment .post-comment{
  height: 70%;
  width:20%;
  border-radius: 20px;
  background-color: white;
}
.comments-tray .comments-tray-top-notch {
  top: 4px;
  left: 30%;
  width: 40%;
  height: 5px;
  position: absolute;
  border-radius: 501px;
}
.comments-tray-container{

  position: absolute;
  height:75%;
  width:80%;
  overflow-y:scroll;
  left: 10%;
  top:25%;
  overflow-x: hidden;

}
.comments-tray-scroll{
  gap: 10px;

  position:absolute;
  top:0;
  left:0;
  width: 100%;;
  display: flex;



  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.comments-tray-scroll .comment {

  width:90%;
  position: relative;
  display: flex;
  padding:5%;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
  background-color: white;

}
.comment-signature {
  gap: 10px;
  width: 100%;
  display: flex;
  height: auto;
  padding: 0% 2%;
  align-items: center;
  flex-shrink: 0;
}
.commentator-avatar {
  width: 32px;
  height: 32px;
}
.commentator-handle {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;

  font-weight: 1000;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comment-content {

  color: rgba(0, 0, 0, 1);
  width: 90%;
  padding:5%;

  position: relative;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;

  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.comments-close {
  top: 10%;
  right:10%;
  width: 32px;
  height: 32px;
  position: absolute;
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
}
