.landing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  height:100%;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.landing-landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.landing-unsplash-edk-wnbk-zv4 {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}
.landing-rectangle5 {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}
.landing-frame22 {
  gap: 32px;
  top: 278px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 11px 15px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.landing-frame23 {
  gap: 9px;
  display: flex;
  padding: 13px 18px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-text {
  color: rgba(255, 255, 255, 1);
  width: 237px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-frame25 {
  gap: 10px;
  display: flex;
  padding: 8px 18px;
  overflow: hidden;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4000000059604645);
}
.landing-email {
  width: 32px;
  height: 32px;
}
.landing-text02 {
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-frame26 {
  gap: 10px;
  display: flex;
  padding: 8px 18px;
  overflow: hidden;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4000000059604645);
}
.landing-password {
  width: 32px;
  height: 32px;
}
.landing-text04 {
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text06 {
  color: rgba(222, 222, 222, 1);
  width: 248px;
  height: auto;
  font-size: 7px;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-frame24 {
  width: 309px;
  height: 121px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-frame27 {
  gap: 10px;
  top: 28px;
  left: 20.5px;
  width: 269px;
  height: 48px;
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.landing-google {
  width: 32px;
  height: 32px;
}
.landing-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-frame31 {
  gap: 10px;
  width: 137px;
  height: 32px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text12 {
  top: 36px;
  left: 59px;
  color: rgba(255, 255, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Indie Flower;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
